
@import '../../Sass/colors';
.formReact {
    background: $color-primary-light;
    width: 25%;
    border-radius: 15px;
    
  }
.fields{
  display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
  .boton {
    margin-top: 10px;
    width: 80px;
      
  }
  